#buttonDiv {
	text-align: left;
}

#saveButtonDiv {
	text-align: right;
}

*.primary.callout {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
  -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.primary.callout h1, h2, h3, h4, h5 {
  text-align: center;
}